@import url(https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

header {
  height: 80px;
  background-color: #121212;
  text-align: center;
  line-height: 80px;
}

h1 {
  color: #c1c1c1;
}

.cars {
  display: flex;
  flex-wrap: wrap;
  color: #121212;
}
.cars .car {
  width: calc(100% / 5 - 20px);
  margin: 10px;
}
.cars .car img {
  width: 100%;
}
.cars .car h2 {
  margin: 20px 0;
}
.cars .car a {
  display: block;
  margin: 10px 0;
  text-align: center;
}
